$grey-50: #FAFAFA;
$grey-100: #F0F2F2;
$grey-200: #E3E8E8;
$grey-300: #D2D6D6;
$grey-400: #B5BCBC;
$grey-450: #9EA8A8;
$grey-500: #747C7C;
$grey-600: #5E6868;
$grey-650: #464F4F;
$grey-700: #363D3D;
$grey-750: #222626;
$grey-800: #1D1E1E;
$grey-850: #151616;
$grey-900: #0F1111;


$primary-100: #E8F7F4;