$spacing: 2rem;

.container {
  display: grid;

  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;

  position: absolute;
  width: 100%;
  height: 100%;
}

nav {
  grid-row: 1;
  grid-column: 2;
  padding: 0 $spacing;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  grid-column: 2;
  grid-row: 2;

  padding: $spacing 0;
  overflow: hidden;

  div.table {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  table {
    width: 100%;
  }

  tr {
    td, th {
      padding: 1rem;
    }

    > :first-child {
      padding-left: $spacing;
    }

    > :last-child {
      padding-right: $spacing;
    }
  }
}

.sidebar {
  padding: $spacing;
}

.sidebar, .sidebar-buffer {
  grid-column: 1;
}

.sidebar {
  grid-row: 2;
}

.sidebar-buffer {
  grid-row: 1;
}
