$outer-spacing: 2rem;
$inner-spacing: $outer-spacing * 0.5;

.view {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

nav {
  padding: 0 $outer-spacing;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  overflow: hidden;

  .options {
    padding-bottom: $inner-spacing;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > * {
        display: inline-block;
      }
    }
  }

  .data {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  table {
    width: 100%;
  }

  tr {
    td, th {
      padding: 1rem;
    }

    > :first-child {
      padding-left: $outer-spacing;
    }

    > :last-child {
      padding-right: $outer-spacing;
    }
  }

  .options, footer {
    padding-left: $outer-spacing;
    padding-right: $outer-spacing;
  }

}

.searchbar {
  width: 12rem;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
}

.button-group {
  display: inline-block;
  margin-right: 3rem;

  label {
    display: block;
    margin-bottom: $outer-spacing * 0.25;
  }
}

button {
  border-radius: 2rem;
  $vertical-spacing: 0.5rem;
  $horizontal-spacing: $vertical-spacing * 2.25;

  padding: $vertical-spacing $horizontal-spacing;
  margin-right: 0.5rem;
}

.radio-group {
  label {
    display: flex;
    align-items: center;

    margin: $inner-spacing 0;
    
    div {
      display: inline-block;

      margin: 0;
      margin-bottom: 0.125rem;
      margin-right: 0.75rem;

      $size: 0.8rem;
      height: $size;
      width: $size;
    }
  }
}

.accordion {
  .content {
    overflow-y: hidden;

    padding: 0;
    margin: 0;

    transition: height 1s;
    
    .wrapper {
      padding-bottom: $inner-spacing;

      > .button-group {
        margin-top: $inner-spacing;
      }
    }

    .wrapper {
      overflow: auto;
    }

    &.closed {
      height: 0;
    }
  }
}

.toggle {
  padding: $inner-spacing 0;

  .container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  h5 {
    margin: 0;
  }

  svg {
    padding-left: 1.25rem;
  }
}