@use 'colors';

$bg-high: colors.$grey-50;
$bg-low: colors.$grey-100;

$text-color: colors.$grey-900;
$divider-color: colors.$grey-300;

body.light {
  background: $bg-high;
  color: $text-color; 

  nav {
    > div {
      border-bottom-color: $divider-color;
    }
  }

  main {
    tr {
      &:nth-child(even) {
        background: $bg-low;
      }
    }
  }

  .sidebar, .sidebar-buffer {
    background: $bg-low;
    border-right-color: $divider-color;
  }

  .searchbar {
    background: $bg-low;
    border-color: $divider-color;
  }

  input {
    color: $text-color;
  }

  button {
    background: $bg-low;
    border-color: colors.$grey-500;

    span {
      color: $text-color;
    }

    &:hover {
      border-color: colors.$grey-600;
    }
  }

  .divider {
    border-color: $divider-color;
  }
}

