@use 'colors';

$bg-high: colors.$grey-50;
$bg-low: colors.$grey-100;

$text-color: colors.$grey-900;
$divider-color: colors.$grey-300;

body.light {
  background: $bg-high;
  color: $text-color; 

  nav {
    > div {
      border-bottom-color: $divider-color;
    }
  }

  .sidebar, .sidebar-buffer {
    background: $bg-low;
    border-right-color: $divider-color;
  }
}