@use 'reset';
@use 'text';
@use 'colors';
@use 'layout';
@use 'mixins';

@use 'lighttheme';

$bg-high: colors.$grey-800;
$bg-medium: colors.$grey-850;
$bg-low: colors.$grey-900;

$text-high: colors.$grey-100;
$text-low: colors.$grey-700;

$bg: $bg-high;

body {
  background: $bg;
  color: $text-high;
  font-family: Proxima Nova, sans-serif;
}

nav {
  > div {
    $border-side: 'bottom';
    @include mixins.borderStyle($border-side);
    border-#{$border-side}-color: $text-low;
  }

  h4 {
    font-family: Nunito, sans-serif;

    span {
      font-weight: 300;
    }
  }

  li {
    margin: 0 1rem;
    float: left;

    &:first-child {
      margin-left: 0;
    }
  }
}

.sidebar, .sidebar-buffer {
  $bg: $bg-low;

  background: $bg;

  $border-side: 'right';
  @include mixins.borderStyle($border-side);
  border-#{$border-side}-color: $text-low;
}