@use 'reset';
@use 'text';
@use 'colors';
@use 'layout';
@use 'mixins';

@use 'lighttheme';

$bg-high: colors.$grey-800;
$bg-medium: colors.$grey-850;
$bg-low: colors.$grey-900;

$text-color: colors.$grey-50;
$divider-color: colors.$grey-700;

$bg: $bg-high;

body {
  background: $bg;
  
  font-family: Proxima Nova, sans-serif;
  color: $text-color;
}

nav {
  > div {
    $border-side: 'bottom';
    @include mixins.borderStyle($border-side);
    border-#{$border-side}-color: $divider-color;
  }

  h4 {
    font-family: Nunito, sans-serif;
    @include text.extraHighContrast();

    span {
      font-weight: 300;
    }
  }

  li {
    margin: 0 1rem;
    float: left;

    &:first-child {
      margin-left: 0;
    }

    a {
      @include text.mediumContrastWithHover();
    }
  }
}

main {
  tr {
    &:nth-child(even) {
      background: $bg-medium;
    }

    transition: background-color 0.5s;
  }

  th {
    text-align: left;
    
    div {
      @include text.mediumContrast();
      
      &.sortable {
        @include text.mediumContrastHover();
        cursor: pointer;
      }
    }
  }

  th, td {
    white-space: nowrap;
    cursor: default;
  }

  tbody {
    tr:hover {
      background: rgba(colors.$primary-500, 0.10) !important;
    }
  }
}

.sidebar, .sidebar-buffer {
  $bg: $bg-low;

  background: $bg;

  $border-side: 'right';
  @include mixins.borderStyle($border-side);
  border-#{$border-side}-color: $divider-color;
}