@mixin borderStyle($side: false) {
  $border-side: 'border';
  @if $side {
    $border-side: #{$border-side}-#{$side}
  }

  #{$border-side}-width: 0.1rem;
  #{$border-side}-style: solid;
}

@mixin noFocus() {
  &:focus {
    outline: none;
  }
}
