@mixin typeScale($scale) {
  $size: 1rem;

  @for $h from 6 to 0 {
    h#{$h} {
      font-size: $size;
      margin: ($size * 0.5) 0;
      font-weight: 400;
    }

    $size: $size * $scale; 
  }
}

@include typeScale(1.25);

h1, h2, h3, h4, h5, h6, a, li {
  line-height: 1.5;
}

@mixin extraHighContrast() { opacity: 95%; }
@mixin highContrast() { opacity: 87%; };
@mixin mediumContrast() { opacity: 60%; };
@mixin lowContrast() { opacity: 38%; };

$hover-transition-length: 0.25s;

@mixin hover($hover-opacity) {
  transition: opacity $hover-transition-length;

  &:hover {
    opacity: $hover-opacity;
  }
}

@mixin highContrastHover() {
  @include highContrast();
  @include hover(95%)
}

@mixin mediumContrastHover() {
  @include mediumContrast();
  @include hover(74%);
}



@mixin lowContrastHover() {
  @include lowContrast();
  @include hover(49%);
}


