html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h6 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  margin: 0.625rem 0;
  font-weight: 400;
}

h4 {
  font-size: 1.5625rem;
  margin: 0.78125rem 0;
  font-weight: 400;
}

h3 {
  font-size: 1.953125rem;
  margin: 0.9765625rem 0;
  font-weight: 400;
}

h2 {
  font-size: 2.44140625rem;
  margin: 1.220703125rem 0;
  font-weight: 400;
}

h1 {
  font-size: 3.0517578125rem;
  margin: 1.5258789063rem 0;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, a, li {
  line-height: 1.5;
}

input, button {
  font-family: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
}

nav {
  grid-row: 1;
  grid-column: 2;
  padding: 0 2rem;
}
nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
}
main .options {
  margin-bottom: 1rem;
}
main .options .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .options .content {
  padding: 1rem 0;
}
main .data {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
main table {
  width: 100%;
}
main tr td, main tr th {
  padding: 1rem;
}
main tr > :first-child {
  padding-left: 2rem;
}
main tr > :last-child {
  padding-right: 2rem;
}
main .options, main footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sidebar {
  padding: 0 2rem;
}

.sidebar, .sidebar-buffer {
  grid-column: 1;
}

.sidebar {
  grid-row: 2;
}
.sidebar > div {
  margin-bottom: 1rem;
}

.sidebar-buffer {
  grid-row: 1;
}

.searchbar {
  width: 12rem;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
}

.button-group {
  display: inline-block;
  margin-right: 3rem;
}
.button-group label {
  display: block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-left: -0.33rem;
  margin-right: 0.83rem;
}

.radio-group {
  padding-bottom: 1rem;
}
.radio-group label {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.radio-group label div {
  display: inline-block;
  margin: 0;
  margin-bottom: 0.125rem;
  margin-right: 0.75rem;
  height: 0.8rem;
  width: 0.8rem;
}

.toggle {
  padding: 1rem 0;
}

body.light {
  background: #FAFAFA;
  color: #0F1111;
}
body.light nav > div {
  border-bottom-color: #D2D6D6;
}
body.light main tr:nth-child(even) {
  background: #F0F2F2;
}
body.light .sidebar, body.light .sidebar-buffer {
  background: #F0F2F2;
  border-right-color: #D2D6D6;
}
body.light .searchbar {
  background: #F0F2F2;
  border-color: #D2D6D6;
}
body.light input {
  color: #0F1111;
}

body {
  background: #1D1E1E;
  font-family: Proxima Nova, sans-serif;
  color: #FAFAFA;
}

nav > div {
  border-bottom-width: 0.075rem;
  border-bottom-style: solid;
  border-bottom-color: #363D3D;
}
nav h4 {
  font-family: Nunito, sans-serif;
  opacity: 95%;
}
nav h4 span {
  font-weight: 300;
}
nav li {
  margin: 0 1rem;
  float: left;
}
nav li:first-child {
  margin-left: 0;
}
nav li a {
  opacity: 60%;
  transition: opacity 0.25s;
}
nav li a:hover {
  opacity: 73.5%;
}

main .toggle {
  opacity: 95%;
  transition: opacity 0.25s;
  font-weight: 300;
  cursor: pointer;
}
main .toggle:hover {
  opacity: 100%;
}
main tr {
  transition: background-color 0.5s;
}
main tr:nth-child(even) {
  background: #151616;
}
main th {
  text-align: left;
}
main th div {
  opacity: 60%;
}
main th div.sortable {
  transition: opacity 0.25s;
  cursor: pointer;
}
main th div.sortable:hover {
  opacity: 73.5%;
}
main th, main td {
  white-space: nowrap;
  cursor: default;
}
main tbody tr:hover {
  background: rgba(113, 226, 221, 0.1) !important;
}

.sidebar, .sidebar-buffer {
  background: #0F1111;
  border-right-width: 0.075rem;
  border-right-style: solid;
  border-right-color: #363D3D;
}
.sidebar .radio-group, .sidebar-buffer .radio-group {
  border-bottom-width: 0.075rem;
  border-bottom-style: solid;
  border-color: #363D3D;
}
.sidebar > :last-child .radio-group, .sidebar-buffer > :last-child .radio-group {
  border-bottom: none;
}

.searchbar {
  background: #0F1111;
  border-width: 0.075rem;
  border-style: solid;
  border-color: #363D3D;
}
.searchbar input {
  color: #FAFAFA;
  opacity: 60%;
  font-weight: 300;
  font-size: 0.8rem;
  background: none;
  border: none;
}
.searchbar input:focus {
  outline: none;
}

.button-group label {
  opacity: 60%;
  font-size: 0.9rem;
}

button {
  background: #0F1111;
  border-width: 0.075rem;
  border-style: solid;
  border-color: #363D3D;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus {
  outline: none;
}
button span {
  color: #FAFAFA;
  font-size: 0.85rem;
  opacity: 60%;
  transition: opacity 0.25s;
}
button:hover {
  border-color: "border-color", #5E6868;
}
button:hover span {
  opacity: 73.5%;
}

.toggle {
  cursor: pointer;
}
.toggle h5 {
  margin: 0;
  line-height: 1;
}

.radio-group label span {
  opacity: 60%;
  font-size: 0.925rem;
  transition: opacity 0.25s;
}
.radio-group label:hover {
  cursor: pointer;
}
.radio-group label:hover span {
  opacity: 73.5%;
}
.radio-group div {
  background-color: #F0F2F2;
  border-radius: 0.2rem;
  opacity: 95%;
  transition: opacity 0.25s, background-color 0.25s;
}
.radio-group div.checked {
  background-color: #C2F2EC;
}

/*# sourceMappingURL=main.css.map */
